[class*="wordmarkWindows"] path:not(:first-child) {
    display: none;
}
[class*="wordmarkWindows"] {
    display: flex;
    gap: 6px;
    align-items: center;
    order: 1;
    margin-right: auto;
    color: var(--header-primary);
}
[class*="wordmarkWindows"]::after {
    content: "Vennie";
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-family: var(--font-display);
    font-weight: 700;
}
.platform-win .container__827e6 {
    padding-top: 31px !important;
    top: -31px !important;
}
