.wrapper__8436d[data-list-item-id="guildsnav___home"] .childWrapper_a6ce15 {
    background: url("https://cdn.discordapp.com/attachments/1097502480738287686/1235798677956726884/1714707756654.jpg?ex=6635aeb4&is=66345d34&hm=233ed576e1d9fad450398700bf4b99a601566956e163c78d8b44f44b00251e24&") no-repeat center !important;
    background-size: cover !important;
}
.wrapper__8436d[data-list-item-id="guildsnav___home"] .childWrapper_a6ce15 svg {
    display: none;
}
