:root {
    --titlebar-text: "Vennie";
}

[class*="wordmarkWindows"] > svg {
    display: none;
}
[class*="wordmarkWindows"]::after {
    content: var(--titlebar-text);
    width: fit-content;
    color: var(--header-primary);
    font-size: 15px;
    font-family: var(--font-display);
    font-weight: 700;
}