.wrapper__8436d[data-list-item-id="guildsnav___home"] .childWrapper_a6ce15 {
    background: url("https://cdn.discordapp.com/attachments/1097502480738287686/1235736457533067376/1714692925907.gif?ex=663574c2&is=66342342&hm=ad0f9de935720ad2dd6a99c0b7a123943f3e8ad6c5fc5af85c163722844cc64d&") no-repeat center !important;
    background-size: cover !important;
}
.wrapper__8436d[data-list-item-id="guildsnav___home"] .childWrapper_a6ce15 svg {
    display: none;
}
