/* :root {
    --mactitlebar-left-margin: 8px;
    --mactitlebar-top-margin: 10px;
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
    --macbuttons-serverlist-inner-top-margin: 32px;
}
[class^="winButtonClose"] {
    order: 3;
    margin-left: var(--mactitlebar-left-margin);
}
[class^="winButtonMinMax"] {
    order: 1;
}
[class^="winButtonClose"] > svg {
    background-color: var(--mactitlebar-close-btn-back) !important;
}
[class^="winButtonMinMax"] > svg {
    background-color: var(--mactitlebar-max-btn-back) !important;
}
[class^="winButtonMinMax"]:last-child > svg {
    background-color: var(--mactitlebar-min-btn-back) !important;
}
[class^="winButton"] > svg {
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
    cursor: pointer;
}
[class^="winButton"] > svg:hover {
    filter: brightness(.7);
}
[class^="winButton"] > svg > :is(polygon, rect),
[class^="wordmarkWindows"],
[class^="withFrame"]:before,
[class^="withFrame"]:after {
    display: none !important;
}
[class^="winButton"] {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
    margin-top: var(--mactitlebar-top-margin);
    background-color: transparent !important;
    cursor: default;
}
.guilds__2b93a {
    padding-top: var(--macbuttons-serverlist-inner-top-margin);
    height: calc(100vh - var(--macbuttons-serverlist-inner-top-margin));
}
[class^="typeWindows"] {
    margin-top: 0;
    position: absolute;
    background-color: transparent;
}
[class*="sidebar_"], [class*="chat_"], [class*="guilds_"], .container_bd15da {
    margin: 10px 6px 8px;
}
.platform-win .sidebar_e031be {
    border-radius: 0;
}
.platform-win .layer_f7d46a ,
.platform-win .standardSidebarView__12528 {
    padding-top: 0;
    top: 0px;
}
 */

:root {
    --mactitlebar-left-margin: 8px;
    --mactitlebar-top-margin: 10px;
    --mactitlebar-button-width: 20px;
    --mactitlebar-button-height: 20px;
    --mactitlebar-button-border-radius: 50px;
    --mactitlebar-close-btn-back: #f25056;
    --mactitlebar-min-btn-back: #fac536;
    --mactitlebar-max-btn-back: #39ea49;
    --macbuttons-serverlist-inner-top-margin: 32px;
}
[class^="winButtonClose"] {
    order: 3;
    margin-left: var(--mactitlebar-left-margin);
}
[class^="winButtonMinMax"] {
    order: 1;
}
[class^="winButtonClose"] > svg {
    background-color: var(--mactitlebar-close-btn-back) !important;
}
[class^="winButtonMinMax"] > svg {
    background-color: var(--mactitlebar-max-btn-back) !important;
}
[class^="winButtonMinMax"]:last-child > svg {
    background-color: var(--mactitlebar-min-btn-back) !important;
}
[class^="winButton"] > svg {
    background-size: contain !important;
    border-radius: var(--mactitlebar-button-border-radius);
    cursor: pointer;
}
[class^="winButton"] > svg:hover {
    filter: brightness(.7);
}
[class^="winButton"] > svg > :is(polygon, rect),
[class^="withFrame"]:before,
[class^="withFrame"]:after {
    display: none !important;
}
[class*="wordmarkWindows"] {
    display: flex;
    margin-left: var(--mactitlebar-left-margin);
    margin-top: calc(var(--mactitlebar-top-margin) - 5px);
}
[class*="typeWindows"] > [class*="winButton"],
[class*="typeWindows"] > [class*="wordmarkWindows"] {
    position: relative;
}
[class^="winButton"] {
    width: var(--mactitlebar-button-width) !important;
    height: var(--mactitlebar-button-height) !important;
    margin-top: var(--mactitlebar-top-margin);
    background-color: transparent !important;
    cursor: default;
}
.guilds__2b93a {
    padding-top: var(--macbuttons-serverlist-inner-top-margin);
    height: calc(100vh - var(--macbuttons-serverlist-inner-top-margin));
}
[class^="typeWindows"] {
    margin-top: 0;
    position: absolute;
    background-color: transparent;
}
[class*="chat_"], [class*="guilds_"], .container_bd15da {
    margin: 10px 6px 8px;
}
[class*="sidebar_"] {
    margin: 32px 6px 10px;
}
.platform-win .sidebar_e031be {
    border-radius: 0;
}
.platform-win .layer_f7d46a ,
.platform-win .standardSidebarView__12528 {
    padding-top: 0;
    top: 0px;
}
