.messageContent_abea64:hover > .anchor_c8ddc0[title$=")"]::after {
    font-size: 0.7rem;
    line-height: 4px; /* needed to avoid layout shifting */
    content: " (" attr(href) ")";
    color: var(--text-muted);
}
.anchor_c8ddc0[title$=")"]:hover {
    text-decoration-color: #00000000 !important;
}
