.search_ac353c:not(.open_d3ab4e) > .searchBar__5a20a {
    width: 22px;
    background: transparent;
}

.searchBarComponent__8f95f{
    background: transparent;
}

.search_ac353c:not(.open_d3ab4e) .iconLayout__9d9a4 {
    cursor: pointer;
}

.search_ac353c:not(.open_d3ab4e) .iconContainer__9f124 {
    transform: scale(1.4);
}

.search_ac353c:not(.open_d3ab4e) .icon__5c8c7 {
    color: var(--interactive-normal);
}

.search_ac353c:not(.open_d3ab4e):hover .icon__5c8c7 {
    color: var(--interactive-active);
}
