[class^="search_"]:not(.open_d3ab4e) > .searchBar__5a20a {
    width: 22px;
    background: transparent;
}

[class^="searchBarComponent__"] {
    background: transparent;
}

[class^="search_"]:not(.open_d3ab4e) .iconLayout__9d9a4 {
    cursor: pointer;
}

[class^="search_"]:not(.open_d3ab4e) .iconContainer__9f124 {
    transform: scale(1.4);
    transition: transform .2s ease;
}

[class^="search_"].open_d3ab4e .iconContainer__9f124 {
    transform: scale(1);
}

[class^="search_"]:not(.open_d3ab4e) [class^="icon__"] {
    color: var(--interactive-normal);
}

[class^="search_"]:not(.open_d3ab4e):hover [class^="icon__"] {
    color: var(--interactive-active);
}
